NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/master_gateway
JWT_ISSUER=master-auth-service
JWT_AUDIENCE=microservices-platform
JWT_ACCESS_SECRET=change_this_access_secret_with_32_chars_min
JWT_TEMP_SECRET=change_this_temp_secret_with_32_chars_min
ACCESS_TOKEN_TTL_SECONDS=900
TEMP_TOKEN_TTL_SECONDS=300
REFRESH_TOKEN_TTL_DAYS=7
INTERNAL_API_KEY=change_internal_api_key_min_32_chars
SEED_ADMIN_NAME=Administrador
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=ChangeMe123!
SEED_DEFAULT_ROLE=ADMIN
